<div class="navbar sticky top-0 z-10 shadow-2xl bg-base-100">
  <div class="flex-1">
    <a href="/api/" class="btn btn-ghost text-xl">ChatApp</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <!-- <li><a>Link</a></li> -->
      <li>
        <details>
          <summary>
            LogIn/SignUp
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none flex flex-wrap flex-col gap-2">
            <li><a href="/api/login" class="<%= page == '/api/login'? 'active': ''%>">LogIn</a></li>
            <li><a href="/api/signup" class="<%= page == '/api/signup'? 'active': ''%>">SignUp</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>