<div class="navbar sticky top-0 z-10 shadow-2xl bg-base-100">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">ChatApp</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/user">User</a></li>
      <li><a href="/user/addContacts">Add Contact</a></li>
      <li><a href="/logout">Log out</a></li>
      <% if (page == 'chat-room') { %>
        <button id="start-call"class="btn btn-info btn-sm" onclick="video_call.showModal()">Video Call</button>
      <% } %>
    </ul>
  </div>
</div>