<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>ChatApp</title>
</head>
<body>
    <div class="flex flex-col min-h-screen">
        <main class="flex-grow">
            <%- include('partials/navbar', {page: action}) %>
            <br />
            <div class="flex flex-wrap flex-row justify-center w-full">
                <form action="<%= action %>" method="post" class="flex flex-wrap flex-col justify-center gap-2">
                    <% if (action === "/signup") { %>
                        <input name="username" type="text" class="input input-bordered" placeholder="Username"/>    
                    <% } %>
                    <input name="email" type="email" class="input input-bordered" placeholder="abc@example.com"/>
                    <button class="btn rounded-3xl bg-black text-white" type="submit">
                        <%= action == '/login'? 'LogIn': 'Join'%>
                    </button>
                </form>
            </div>
        </main>
        <%- include('partials/footer') %>
    <div>
</body>
</html>