<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>ChatApp</title>
</head>
<body>
    <%- include('partials/userNavbar', {page: 'user'}) %>
    <div class="overflow-x-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <% cont.forEach(ele => { %>
                    <tr>
                        <td><a href="/user/chatRoom/<%= ele[0]._id %>"><%= ele[0].name %></a></td>
                    </tr>
                <% }); %> 
            </tbody>
        </table>
    </div>
</body>
</html>