<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>ChatApp</title>
</head>
<body>
    <div class="flex flex-col min-h-screen">
        <main class="flex-grow">
            <%- include('partials/userNavbar', {page: 'user'}) %>
            <div class="overflow-x-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% rooms.forEach(ele => { %>
                            <tr>
                                <td>
                                    <a href="/user/chatRoom/<%= ele._id %>">
                                        <div class="card w-full">
                                            <div class="card-body items-center text-cente">
                                                <h2 class="card-title"><%= ele.name %></h2>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        <% }); %> 
                    </tbody>
                </table>
            </div>
        </main>
        <%- include('partials/footer') %>
    <div>
</body>
</html>