@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
    display: none;
}

.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    height: 300px;
    width: 300px;
}

.video-player{
    height: 100%;
    width: 100%;
}